<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Delete</title>
</head>
<html>
  <body>
      <h2>Delete</h2>

        {% if message %}
            <P>Success: {{message}}</P>
            <br>
            <br>
            <a href="{{url_for('main')}}">Start to Log In</a>
            <br>

        {% else %}
            <form action="{{url_for('user_delete_save')}}" method="post">
            
              <div>
              <label>Please Typing a User Name to Delete</label>
              <input input type='text' name='username' value='{{username if username != None}}'>
              </div>

              <div>
              <label>Please Typing Corresponding Password</label>
              <input input type='text' name='password' value='{{password if password != None}}'>
              </div>

              <div><input type="submit" value="Submit"></div>

            </form> 
        {% endif %}
  </body>
</html>