<!DOCTYPE html>
<head>
    <title>User's Account</title>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333333;
          display: inline-flex;
        }
        
        
        
        #menu li a {
          display: block;
          color: white;
          text-align: center;
          padding: 24px;
          text-decoration: none;
        }
        
        #menu li a:hover {
          background-color: #111111;
        }
    </style>

</head>

<html>
    <body>
        <h1> Hello {{ username }} </h1>
        <ul id="menu">
            <li ><a href="{{url_for('upload_image')}}">Upload a Photo</a></li>
            <li ><a href="{{url_for('change_psw_save')}}">Change Passwords</a></li>
            <li ><a href="{{url_for('user_register',id=id)}}">Create a New User</a></li>
            <li><a href="{{url_for('main')}}">Log Out</a></li>   
            
        </ul>
        <hr>
        
        <ol id="noFace">
            <p>The list of No Faces Detected</p>
            
            {% if NFphotos is defined and NFphotos|length %}
                <!-- For loop logic of jinja template -->
                {% for row in NFphotos %} 
                    <li><img src="{{ url_for('display_history', filename=row) }}"> 
                    <p>{{row}}</p>
                {% endfor %} 
            {% else %}
                <p>There is no photos without faces in history</p>
            {% endif %}
              
        </ol>
        <hr>
        
        <ol id="noMask">
            <p>The list of No Mask Detected</p>
            
            {% if NMphotos is defined and NMphotos|length %}
                <!-- For loop logic of jinja template -->
                {% for row in NMphotos %} 
                    <li><img src="{{ url_for('display_history', filename=row) }}"></li> 
                {% endfor %} 
            {% else %}
                <p>There is no photos with faces not wearing masks in history</p>
            {% endif %}
              
        </ol> 
        <hr>

        <ol id="allFace">
            <p>The list of all Face with Masks Detected</p>

            {% if AMphotos is defined and AMphotos|length %}
                <!-- For loop logic of jinja template -->
                {% for row in AMphotos %} 
                    <li><img src="{{ url_for('display_history', filename=row) }}"></li> 
                {% endfor %} 
            {% else %}
                <p>There is no photos with all faces wearing masks in history</p>
            {% endif %}
              
        </ol> 
        <hr>

        <ol id="someMask">
            <p>The list of only Some Masks Detected</p>
            {% if SMphotos is defined and SMphotos|length %}
                <!-- For loop logic of jinja template -->
                {% for row in SMphotos %} 
                    <li><img src="{{ url_for('display_history', filename=row) }}"></li> 
                {% endfor %} 
            {% else %}
                <p>There is no photos with some faces wearing masks in history</p>
            {% endif %}
              
        </ol> 
        <hr>

    <body>    
</html>