<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Recovery Your Passwords</title>
</head>
<html>
  <body>
    <h1>To Recovery Passwords</h1>
    {% if message %}
      <p>{{ message }}</p>
      <br>
      <a href="{{url_for('main')}}">Start to Log In</a>
      <br>
    {% endif %}
    
    {% if not message %}
    <p>In order to recove your passwords, you have to give your registered E-mail and we would send a new passwords to your emial.</p>
    <h3>IMPORTANT! After using the sending password to logging into your account, you are free to change passwords.</h1>
    <br>
    

    <form method = 'post' action = "{{url_for('send_email')}}">
        <label for="email">The Registered Email:</label>
        <input type="text" id="email" name="email"><br><br>
        
        <input type="submit" value="Submit">
        <input type="reset">
    </form>
    {% endif %}

  </body>
</html>